.DS_Store
_test
openme
*.gob
*.log
*.fsb

# Go 1.5+ vendor directory
vendor

# Sublime Text files
*.sublime-project
*.sublime-workspace

# VIM files
*~
.*.swp

# compiled filed
haunts_app
haunts.app
shaunts.app
haunts
data/bin/
data/store

